doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Declaration Form
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900', rel='stylesheet')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/custom.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
  body
    .container
      h1 
        i.far.fa-check-circle 
        span Please complete the declaration below
      .row.main
        .col-md-12.confirm-text
          p To complete your membership for the 2018/2019 year please confirm the following declarations for insert agency name. If this is not your agency please 
            a notify REINZ
        .col-md-6
          .input-group.text-input
            input.form-control(type='text', placeholder='Enter your name')
      .row.declarations
        .col-md-6
          .input-group
            lable.check-lable
              input(aria-label='...', type='checkbox')
              span.checkmark
              |  Professional Indemnity Insurance
          p.declaration-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis ex sed sollicitudin sollicitudin. Vestibulum eleifend egestas pharetra. Nunc aliquet fermentum sapien, vel aliquam nunc malesuada id. Etiam nisl tortor, condimentum in aliquam a, tincidunt non lectus. Mauris eleifend felis in nibh commodo malesuada.
        .col-md-6
          .input-group
            lable.check-lable
              input(aria-label='...', type='checkbox')
              span.checkmark
              |  REINZ Statistics Users Agreement
          p.declaration-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis ex sed sollicitudin sollicitudin. Vestibulum eleifend egestas pharetra. Nunc aliquet fermentum sapien, vel aliquam nunc malesuada id. Etiam nisl tortor, condimentum in aliquam a, tincidunt non lectus. Mauris eleifend felis in nibh commodo malesuada.
      .row
        .col-md-6
          .input-group
            lable.check-lable
              input(aria-label='...', type='checkbox')
              span.checkmark
              |  Trust Accounts
          p.declaration-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis ex sed sollicitudin sollicitudin. Vestibulum eleifend egestas pharetra. Nunc aliquet fermentum sapien, vel aliquam nunc malesuada id. Etiam nisl tortor, condimentum in aliquam a, tincidunt non lectus. Mauris eleifend felis in nibh commodo malesuada.
          .input-group
            input(type='checkbox', aria-label='...') 
          p.declaration-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis ex sed sollicitudin sollicitudin. Vestibulum eleifend egestas pharetra. Nunc aliquet fermentum sapien, vel aliquam nunc malesuada id. Etiam nisl tortor, condimentum in aliquam a, tincidunt non lectus. Mauris eleifend felis in nibh commodo malesuada.
        .col-md-6
          .input-group
            lable.check-lable
              input(aria-label='...', type='checkbox')
              span.checkmark
              |  REINZ Rules
          p.declaration-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis ex sed sollicitudin sollicitudin. Vestibulum eleifend egestas pharetra. Nunc aliquet fermentum sapien, vel aliquam nunc malesuada id. Etiam nisl tortor, condimentum in aliquam a, tincidunt non lectus. Mauris eleifend felis in nibh commodo malesuada.  
      .row
        .col-md-12.end-text
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis ex sed sollicitudin sollicitudin. Vestibulum eleifend egestas pharetra. Nunc aliquet fermentum sapien, vel aliquam nunc malesuada id. Etiam nisl tortor, condimentum in aliquam a, tincidunt non lectus. Mauris eleifend felis in nibh commodo malesuada. Quisque molestie urna metus, at finibus ipsum lobortis ac. Mauris aliquam augue et velit fringilla, eget cursus dui condimentum.
        .col-md-7.col-sm-12
          .alert.alert-danger(role='alert') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis ex sed sollicitudin sollicitudin. Vestibulum eleifend egestas pharetra. 
        .col-sm-12.col-md-5.submit-btn
           button.btn.btn-default(type='button') Submit